_build.*
.sconsign.dblite
config.log
.sconf_temp
*.dylib
*.o
*.os
*.so
*.cfgc
*.pyc
.cache
.pytest_cache
pytest_session.txt
.coverage
doc/html
doc/*.tag
doc/*.inc
doc/doxygen.conf
doc/xml
tests/.tests
tests/.cache
version.py
bin/
.idea/
.vscode/
